@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Rubik:wght@400;500&display=swap");
@import "base/_mixins.scss";
@import "base/_variables.scss";
* {
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #f8f7fc;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 85px;
  color: #3d3d3f;
}
a {
	text-decoration: none;
}
hr {
	margin: 0;
}
.container {
  position: relative;
  padding: 0 20px;
  max-width: 1170px;
  margin: 0 auto;
}
@import "blocks/buttons.scss";
@import "blocks/title";
@import "blocks/header";
@import "blocks/services";
@import "blocks/tehnoloji";
@import "blocks/portfolio";
@import "blocks/team";
@import "blocks/other";
@import "blocks/contact";
@import "blocks/footer";

@import "media.scss";
